<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>aranoz</title>
    <link rel="icon" href="/customer/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/customer/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/customer/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/customer/css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/customer/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/customer/css/flaticon.css">
    <link rel="stylesheet" href="/customer/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/customer/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/customer/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/customer/css/style.css">
</head>


<body>
    
    
    {{{body}}}
    

    <!-- jquery plugins here-->
    <script src="/customer/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/customer/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/customer/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/customer/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/customer/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/customer/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="/customer/js/owl.carousel.min.js"></script>
    <script src="/customer/js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="/customer/js/slick.min.js"></script>
    <script src="/customer/js/jquery.counterup.min.js"></script>
    <script src="/customer/js/waypoints.min.js"></script>
    <script src="/customer/js/contact.js"></script>
    <script src="/customer/js/jquery.ajaxchimp.min.js"></script>
    <script src="/customer/js/jquery.form.js"></script>
    <script src="/customer/js/jquery.validate.min.js"></script>
    <script src="/customer/js/mail-script.js"></script>
    <!-- custom js -->
    <script src="/customer/js/custom.js"></script>
    
    
</body>

</html>
