<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <link rel="icon" href="/customer/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/customer/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/customer/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/customer/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/customer/css/lightslider.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/customer/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/customer/css/flaticon.css">
    <link rel="stylesheet" href="/customer/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/customer/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/customer/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/customer/css/style.css">
    <link rel="stylesheet" href="/customer/css/cart-count.css">
    
</head>







<body>
    
    {{>customer-header}}
    {{{body}}}
    {{>customer-footer}}

    <!-- jquery plugins here-->
    <script src="/customer/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/customer/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/customer/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/customer/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/customer/js/lightslider.min.js"></script>
    <!-- swiper js -->
    <script src="/customer/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/customer/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="/customer/js/owl.carousel.min.js"></script>
    <script src="/customer/js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="/customer/js/slick.min.js"></script>
    <script src="/customer/js/jquery.counterup.min.js"></script>
    <script src="/customer/js/waypoints.min.js"></script>
    <script src="/customer/js/contact.js"></script>
    <script src="/customer/js/jquery.ajaxchimp.min.js"></script>
    <script src="/customer/js/jquery.form.js"></script>
    <script src="/customer/js/jquery.validate.min.js"></script>
    <script src="/customer/js/mail-script.js"></script>
    <script src="/customer/js/stellar.js"></script>
    <script src="/customer/js/swiper.jquery.js"></script>
    <!-- custom js -->
    <script src="/customer/js/custom.js"></script>
    <script src="/customer/js/theme.js"></script>
    <!-- jquery ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- cart counter -->
    
    <!-- sweet alert -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2/dist/sweetalert2.all.min.js"></script>
    <!-- Include a polyfill for ES6 Promises (optional) for IE11 -->
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>
   
    
    <script src="/customer/javascript-frontend/wishlist.js"></script>
    <script src="/customer/javascript-frontend/filter.js"></script>
    {{!-- razorpay library --}}
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="/customer/javascript-frontend/checkout.js"></script> 
    <script src="/customer/javascript-frontend/tracking.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
    <script src="/customer/javascript-frontend/address.js"></script>
    <script src="/customer/javascript-frontend/cart.js"></script>


</body>

</html>

